@import "tailwindcss";

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* ----Color style----- */
.dark-blue {
  background-color: #1a0b2e;
}

.light-dark-blue {
  background-color: #230e3d;
}
.text-white {
  color: #ffff;
}
.text-green {
  color: #00ff88;
}

.gradient-logo {
  background: linear-gradient(to top, #f7e93f, #fb09b4, #9100f8);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
.gradient-color {
  background: linear-gradient(45deg, #f7e93f, #fb09b4, #9100f8);
}

.circle-img{
    background-image: url(../assets/hero-circle.png);
    background-repeat: no-repeat;

}


.btn{
    border-radius: 10px;
    font-weight: 600;
    padding: 12.5px 20px;
}
.btn-2{
    border-radius: 10px;
    font-weight: 600;
    padding: 12.5px 20px;
    border: 1px solid #00ff88 ;
    font-size: 16px;
}
.btn-icon{
    width: 20px;
    height: 20px;
   

}

.banner-bg{
    background-image: url(../assets/hero-bg.png);
    width: 100%;
    height: 760px;
    display: flex;
    /* justify-content: center;
    align-items: center;
    margin: 0 auto; */
    background-position: center;
    background-repeat: no-repeat;
}
.hero{
    

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

}
.hero h1{
    font-size: 60px;
    font-weight: 800;
    margin-top: 40px;
    margin-bottom: 8px;
    
}