@import "tailwindcss";

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* ----Color style----- */
.dark-blue {
  background-color: #1a0b2e;
}

.light-dark-blue {
  background-color: #230e3d;
}
.text-white {
  color: #ffff;
}
.text-green {
  color: #00ff88;
}

.gradient-logo {
  background: linear-gradient(to top, #f7e93f, #fb09b4, #9100f8);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
.gradient-color {
  background: linear-gradient(45deg, #f7e93f, #fb09b4, #9100f8);
}

/* --------shared-style--------- */

.container-width{
    width: 1200px;

}
.line{
    width: 100%;
    height: 1px;
    background: white;
    margin: 80px 0;
}

.circle-img{
    background-image: url(../assets/hero-circle.png);
    background-repeat: no-repeat;

}


.btn{
    border-radius: 10px;
    font-weight: 600;
    padding: 12.5px 20px;
}
.btn-2{
    border-radius: 10px;
    font-weight: 600;
    padding: 12.5px 20px;
    border: 1px solid #00ff88 ;
    font-size: 16px;
}
.btn-icon{
    width: 20px;
    height: 20px;
   

}

.banner-bg{
    background-image: url(../assets/hero-bg.png);
    width: 100%;
    height: 760px;
    display: flex;
    /* justify-content: center;
    align-items: center;
    margin: 0 auto; */
    background-position: center;
    background-repeat: no-repeat;
}
.hero{
    

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

}
.hero h1{
    font-size: 60px;
    font-weight: 800;
    margin-top: 40px;
    margin-bottom: 8px;

}
/* About-podcast-style */

.about-podcast{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background-color: #1a0b2e;
    margin: 0 auto;
}
.about-podcast h2{
    font-size: 48px;
    font-weight: 700;
    margin-top: 50px;
    color: white;
    

}
.about-podcast-p{
    color: white;
    height: 148px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 16px;
}

.about-podcast ul li h2{
    color: #00ff88;
    

}
.about-podcast ul li p{
    color: white;
    

}
.about-podcast ul{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
}

/*--------- why choose----- */
.why-choose{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.why-choose h2{
    font-size: 48px;
    font-weight: 700;
    color: white;
    padding-top: 120px;
    padding-bottom: 40px;

}
.why-choose-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
   width: 1200px;
   margin-bottom: 120px;

}
.why-card{
    background: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
    padding: 40px;
    text-align: start;
    justify-content: center;
    align-items: center;
    color: white;
}
.why-card h3{
    font-size: 24px;
    font-weight: 700;
    margin: 16px 0;
}
.big-card-1{
    grid-row: span 2;
}
.big-card-2{
    grid-column: span 2;
}

/* ------------Featured Episodes-------------- */

.featued-contaner{
    background-color: #1a0b2e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.featued-contaner h2{
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    color: white;
   padding-top: 120px;
   padding-bottom: 40px;
}



.Episode-card-container{
    display: flex;
    justify-content: center;
    gap: 30px;
    background-color: #1a0b2e;
   
}
.episode-card{
    width: 380px;
    border-radius: 24px;
}
.video-box{
    border-radius: 24px 24px 0 0;
    overflow: hidden;
}
.episode-card-info h3{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 12px;
    
}
.episode-card-info{
    padding: 24px;
    background-color: #230e3d;
    color: white;

}
.duration{
    
    font-size: 16px;
    font-weight: 600;
    color: #00ff88;
}
.episode-card-info p{
    margin-bottom: 12px;

}

.host-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 1200px;
    border-radius: 40px;
    padding: 40px;
    gap: 24px;
    color: white;
    margin-bottom: 120px;
    background-color: #230e3d;
}
.host-container img{
    width: 400px;

}
.host-container h3{
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 16px;
}